html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.logo {
    position: fixed;
    float: left;
    width: 5%;
    margin-left: 2%;
    margin-top: 1.6%;

}

nav {
    position: fixed;
    width: 100%;
    margin-top: 0%;
    z-index: 100;


}

nav ul {
    list-style: none;
    overflow: hidden;
    color: white;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-right: 3%;
    text-align: right;
    margin: 0;
    transition: .5s;

}

nav.black ul {
    background: white;
    box-shadow: 0px 10px 12px -2px rgba(0, 0, 0, .1);

}

nav ul li {
    display: inline-block;
    padding-right: 0%;
    padding-left: 4%;
}

nav ul li a {
    text-decoration: none;
    color: #3E424B;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.menu-icon {
    width: 100%;
    background: white;
    text-align: right;
    box-sizing: border-box;
    padding-top: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: #a3dee8;
    display: none;
}

* {
    box-sizing: border-box;
}

.content .grid-container {
    padding-top: 9%;

}

.grid-container {
    display: grid;
    grid-template-columns: 36.5% 1fr 1fr;
    grid-template-rows: 10.4% 1fr 1fr 1fr 1%;
    grid-gap: 80px 50px;
    grid-template-areas: "title title title" "recruitment recruitment-work recruitment-work" "frontliners frontliners-work frontliners-work" "verasoni verasoni-work verasoni-work";
}

.grid-container .title {
    grid-area: title;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.button {
    background-color: #ffee3c;
    color: #3E424B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;

}

.button:hover {
    opacity: 0.7;
}


.title h1 {
    font-size: 60px;
    color: #a3dee8;
    text-align: center;
    background-color: #ffee3c;
    padding: 2% 0% 2% 0%;
    margin: 0% 0% 0% 0%;
}

.recruitment {
    grid-area: recruitment;
    margin-left: 34%;


}

.recruitment h2 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 0%;

}

.recruitment p {
    font-weight: 300;
}


.recruitment-work {
    grid-area: recruitment-work;
    overflow: hidden;
    padding-bottom: 46%;
    position: relative;
    height: 0;
    margin-right: 20%;


}

.recruitment-work iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}


.frontliners {
    grid-area: frontliners;
    margin-left: 34%;
}

.frontliners h2 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 0%;
}

.frontliners p {
    font-weight: 300;
}


.frontliners-work {
    grid-area: frontliners-work;
    overflow: hidden;
    padding-bottom: 46%;
    position: relative;
    height: 0;
    margin-right: 20%;
}


.frontliners-work iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.verasoni {
    grid-area: verasoni;
    margin-left: 34%;
}

.verasoni h2 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 0%;
}

.verasoni p {
    font-weight: 300;
}

.verasoni-work {
    grid-area: verasoni-work;
    overflow: hidden;
    padding-bottom: 46%;
    position: relative;
    height: 0;
    margin-right: 20%;
    margin-bottom: 15%;
}

.verasoni-work iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}


.footer {
    background-color: #FFEE3C;
    padding: 2%;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1px 1px;
    grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons {
    grid-area: footer-icons;
}

.footer-icons img {
    width: 5%;
    display: inline-block;
    float: right;
    padding-left: 1%;
    padding-bottom: 1%;
}

.hand-coded {
    grid-area: hand-coded;
}

.hand-coded p {
    text-align: right;
    font-weight: 600;
    color: #a3dee8;
    margin: 0%;
    font-size: 15px;
}




@media screen and (min-width: 1920px) and (orientation:landscape) {

    .content .grid-container {
        padding-top: 8.5%;

    }
}

@media screen and (min-width: 2560px) and (orientation:landscape) {

    nav ul li a {
        font-size: 25px;
    }



    .button {
        font-size: 20px;
        padding: 25px 52px;
    }

    .title h1 {
        font-size: 80px;
    }


    .recruitment h2 {
        font-size: 35px;

    }
    .recruitment p {
        font-size: 25px;
        width: 90%;
    }


    .frontliners h2 {
        font-size: 35px;
    }
    .frontliners p {
        font-size: 25px;
        width: 90%;
    }


    .verasoni h2 {
        font-size: 35px;
    }
    .verasoni p {
        font-size: 25px;
        width: 90%;
    }
    

.footer {
    background-color: #FFEE3C;
    padding: 2%;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1px 1px;
    grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons {
    grid-area: footer-icons;
}

.footer-icons img {
    width: 5%;
    display: inline-block;
    float: right;
    padding-left: 1%;
    padding-bottom: 1%;
}

.hand-coded {
    grid-area: hand-coded;
}

.hand-coded p {
    text-align: right;
    font-weight: 600;
    color: #a3dee8;
    margin: 0%;
    padding-top:0%;
    font-size: 25px;
}

}



@media screen and (max-width: 1024px) and (orientation:portrait) {

    .logo {
        width: 10%;
        margin-left: 2%;
        margin-top: 3%;
    }

    nav ul {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    nav ul li a {
        font-size: 20px;
    }

    .content .grid-container {
        padding-top: 15%;
    }


    .button {
        font-size: 17px;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-gap: 50px 1px;
        grid-template-areas: "title" "recruitment" "recruitment-work" "frontliners" "frontliners-work" "verasoni" "verasoni-work";
    }


    .title h1 {
        font-size: 60px;
    }

    .recruitment {
        grid-area: recruitment;
        margin-left: 8%;

    }
    .recruitment h2 {
        font-size: 25px;

    }
    .recruitment p {
        font-size: 20px;
        width: 90%;
    }

    .recruitment-work {
        grid-area: recruitment-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 0%;


    }

    .recruitment-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

    }


    .frontliners {
        grid-area: frontliners;
        margin-left: 8%;
    }

    .frontliners h2 {
        font-size: 25px;
    }
    .frontliners p {
        font-size: 20px;
        width: 90%;
    }



    .frontliners-work {
        grid-area: frontliners-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 0%;


    }

    .frontliners-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

    }

    .verasoni {
        grid-area: verasoni;
        margin-left: 8%;
    }

    .verasoni h2 {
        font-size: 25px;
    }
    .verasoni p {
        font-size: 20px;
        width: 90%;
    }


    .verasoni-work {
        grid-area: verasoni-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 8.5%;
        margin-left: 8.5%;


    }

    .verasoni-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.footer {
    background-color: #FFEE3C;
    padding: 2%;
    }
.grid-container-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1px 1px;
        grid-template-areas: "footer-icons" "hand-coded";
    }

    .footer-icons {
        grid-area: footer-icons;
    }

    .footer-icons img {
        width: 8%;
        display: inline-block;
        float: right;
        padding-left: 1%;
        padding-bottom: 1%;
    }

    .hand-coded {
        grid-area: hand-coded;
    }

    .hand-coded p {
        text-align: right;
        font-weight: 600;
        color: #a3dee8;
        margin: 0%;
        font-size: 17px;
    }




    /* For presentation only, no need to copy the code below 
.grid-container * { 
 border: 1px solid red;
}
    */
}


@media screen and (max-width: 768px) and (orientation:portrait) {

    nav ul li a {
        font-size: 20px;
    }
    
    
    .button {
        font-size: 15px;

    }
    
    .recruitment h2 {
        font-size: 25px;

    }
    .recruitment p {
        font-size: 17px;
        width: 90%;
    }

    .frontliners h2 {
        font-size: 25px;

    }
    .frontliners p {
        font-size: 17px;
        width: 90%;
    }
    
    .verasoni h2 {
        font-size: 25px;

    }
    .verasoni p {
        font-size: 17px;
        width: 90%;
    }
    

.footer {
    background-color: #FFEE3C;
    padding: 2%;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px 1px;
  grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons { 
    grid-area: footer-icons; 
}

.footer-icons img{
    width:8%;
    display: inline-block;
    float: right;
    padding-left:1%;
    padding-bottom:1%;
}

.hand-coded { 
    grid-area: hand-coded; 
}

.hand-coded p{
    text-align: right;
    font-weight: 600;
    color:#a3dee8;
    margin:0%;
    font-size: 17px;
}


}

@media screen and (max-width: 540px) and (orientation:portrait) {



    .logo {
        width: 12%;
        margin-top: -10%;
        padding-left: 0%;

    }

    nav ul {
        max-height: 0px;
        background: white;
        margin-top: -1%;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 5%;
        padding-bottom:0%;
    }

    nav.black ul {
        background: white;
    }

    .showing {
        max-height: 40em;
        padding-bottom: 5%;

    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
    }


    .menu-icon {
        padding-top: 5%;
        display: block;
        color: #a3dee8;
        padding-right: 5%
    }



    .button {
        font-size: 14px;

    }


    .grid-container {
        grid-template-rows: 4.5% auto auto auto auto auto auto;
    }

    .title h1 {
        font-size: 50px;
    }

    .recruitment {
        grid-area: recruitment;
        margin-left: 8%;

    }
    .recruitment h2 {
        font-size: 25px;

    }
    .recruitment p {
        font-size: 17px;
        width: 90%;
    }


    .frontliners {
        grid-area: frontliners;
        margin-left: 8%;
    }

    .frontliners h2 {
        font-size: 25px;
    }
    .frontliners p {
        font-size: 17px;
        width: 90%;
    }

    .verasoni {
        grid-area: verasoni;
        margin-left: 8%;
    }

    .verasoni h2 {
        font-size: 25px;
    }
    .verasoni p {
        font-size: 17px;
        width: 90%;
    }

.footer {
    background-color: #FFEE3C;
    padding: 4% 2%;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px 1px;
  grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons { 
    grid-area: footer-icons; 
}

.footer-icons img{
    width:14%;
    display: inline-block;
    float: right;
    padding-left:2%;
    padding-bottom:1%;
}

.hand-coded { 
    grid-area: hand-coded; 

}

.hand-coded p{
    font-weight: 600;
    color:#a3dee8;
    margin:0%;
    font-size:17px;
    width:60%;
    float:right;
}
}


@media screen and (max-width:420px) and (orientation:portrait){
    
.footer {
    background-color: #FFEE3C;
    padding: 5% 3%;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px 1px;
  grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons { 
    grid-area: footer-icons; 
}

.footer-icons img{
    width:14%;
    display: inline-block;
    float: right;
    padding-left:2%;
    padding-bottom:2%;
}

.hand-coded { 
    grid-area: hand-coded; 

}

.hand-coded p{
    font-weight: 600;
    color:#a3dee8;
    margin:0%;
    font-size:15px;
    width:80%;
    float:right;
}
}

@media screen and (max-width: 414px) and (orientation:portrait) {

    .content .grid-container {
        padding-top: 17%;
    }
}


@media screen and (max-width: 1024px) and (orientation:landscape) {

    .footer {
        background-color: #FFEE3C;
        padding: 2%;
    }
    .grid-container-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1px 1px;
        grid-template-areas: "footer-icons" "hand-coded";
    }

    .footer-icons {
        grid-area: footer-icons;
    }

    .footer-icons img {
        width: 6%;
        display: inline-block;
        float: right;
        padding-left: 1%;
        padding-bottom: 1%;
    }

    .hand-coded {
        grid-area: hand-coded;
    }

    .hand-coded p {
        text-align: right;
        font-weight: 600;
        color: #a3dee8;
        margin: 0%;
        font-size: 17px;
    }



}

@media screen and (max-width: 823px) and (orientation:landscape) {

    .logo {
        width: 6%;
        margin-top: 2%;
    }

    .button {
        font-size: 15px;

    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5% auto auto auto auto auto auto;
        grid-gap: 50px 1px;
        grid-template-areas: "title" "recruitment" "recruitment-work" "frontliners" "frontliners-work" "verasoni" "verasoni-work";
    }


    .title h1 {
        font-size: 50px;
    }

    .recruitment {
        grid-area: recruitment;
        margin-left: 8%;

    }
    .recruitment h2 {
        font-size: 25px;

    }
    .recruitment p {
        font-size: 17px;
        width: 90%;
    }

    .recruitment-work {
        grid-area: recruitment-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 0%;


    }

    .recruitment-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

    }


    .frontliners {
        grid-area: frontliners;
        margin-left: 8%;
    }

    .frontliners h2 {
        font-size: 25px;
    }
    .frontliners p {
        font-size: 17px;
        width: 90%;
    }



    .frontliners-work {
        grid-area: frontliners-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 0%;


    }

    .frontliners-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;


    }

    .verasoni {
        grid-area: verasoni;
        margin-left: 8%;
    }

    .verasoni h2 {
        font-size: 25px;
    }
    .verasoni p {
        font-size: 17px;
        width: 90%;
    }


    .verasoni-work {
        grid-area: verasoni-work;
        overflow: hidden;
        padding-bottom: 47%;
        position: relative;
        height: 0;
        margin-right: 8.5%;
        margin-left: 8.5%;


    }

    .verasoni-work iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }



}


@media screen and (max-width: 670px) and (orientation:landscape) {
    
.footer {
    background-color: #FFEE3C;
    padding: 2%;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px 1px;
  grid-template-areas: "footer-icons" "hand-coded";
}

.footer-icons { 
    grid-area: footer-icons; 
}

.footer-icons img{
    width: 8%;
    display: inline-block;
    float: right;
    padding-left:1%;
    padding-bottom:1%;
}

.hand-coded { 
    grid-area: hand-coded; 
}

.hand-coded p{
    text-align: right;
    font-weight: 600;
    color:#a3dee8;
    margin:0%;
    font-size: 17px;
}


}